* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 15vh;
}

.container { /* gestisce solo width */
  width: 60%;
}

a {
  text-decoration: none;
}

.blue-button {
  background-color: #427ed5;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

.big-transparent-button {
  border: 2px solid #ffffff;
  padding: 18px 38px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.1);
  letter-spacing: 1px;
}

.header-top, .main-header, .header-top-nav, .black-icons, .right-menu, .buttons, .main-header-nav, .logo, .right-nav, .jumbo-info {
  display: flex;
}

/*header top*/
.header-top, .main-header {
  justify-content: center;
}

.header-top {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #D5D3D5;
}

.header-top .container {
  border-top: 4px solid #427ed5;
}

.header-top-nav {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* icons */
.black-icons {
  width: 15%;
  height: 100%;
  align-items: center;
}

.black-icons a {
  color: #2a2f33;
  margin-right: 20px;
  font-size: 14px;
}

/* right-menu */

.right-menu {
  justify-content: flex-end;
  width: 40%;
  height: 100%;
}

.buttons {
  align-items: center;
  border-right: 1px solid #D5D3D5;
}

.buttons a {
  font-size: 12px;
  font-weight: 500;
  color: #6b6a6b;
  padding: 14px 12px;
}

.buttons:last-child {
  border-right: none;
}

.buttons:last-child a  {
  padding: 14px 70px;
}

.buttons a i,
.nav-button a i {
  padding: 0 5px;
}

.buttons a:hover {
  color: #2a2f33;
  background-color: #fafafa;
}

/* main header */

.main-header {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #D5D3D5;
}

.main-header-nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15%;
  height: 100%;
  align-items: center;
}

.logo img {
  width: 100%;
}

.right-nav {
  height: 100%;
  align-items: center;
}

.nav-button {
  margin: 0 15px;
}

.nav-button a {
  padding: 44px 3px;
  font-size: 14px;
  font-weight: 500;
  color: #6b6a6b;
}

.nav-button a:hover {
  border-top: 4px solid #427ed5;
  color: #427ed5;
}

.right-nav .shop-button {
  margin: 0 10px;
}

.search-button {
  padding: 0;
  margin: 0;
  color: #6b6a6b;
}

/* jumbotron */

.jumbotron {
  width: 100%;
  height: 650px;
  position: relative;
}

.jumbotron img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbo-info {
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}

.jumbo-info h1,
.jumbo-info h2 {
  color: #ffffff;
}

.jumbo-info h1 {
  font-size: 80px;
  margin: 5px 0 10px 0;
}

.jumbo-info h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 5px 0 10px 0;
}

.jumbo-buttons {
  height: 150px;
  margin-top: 50px;
}

.jumbo-buttons a:first-child {
  margin-right: 20px;
}
