* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 15vh;
}

.container { /* gestisce solo width */
  width: 60%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.blue-button {
  background-color: #427ed5;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

/* hover blue button */
a.blue-button:hover {
  opacity: 0.9;
}

.big-transparent-button, .transparent-button{
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.1);
  letter-spacing: 1px;
}

.big-transparent-button {
  padding: 18px 38px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
}

 a.big-transparent-button:hover,
 a.transparent-button:hover {
   background-color: rgba(255,255,255,0.5);
 }

.transparent-button {
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 20px;
}


.display-flex {
  display: flex;
}

.section {
  justify-content: center;
}

/*header top*/
.header-top, .main-header {
  justify-content: center;
}

.header-top {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #D5D3D5;
}

.header-top .container {
  border-top: 4px solid #427ed5;
}

.header-top, .header-top-nav {
  width: 100%;
}

.header-top-nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* icons */
.black-icons {
  width: 15%;
  height: 100%;
  align-items: center;
}

.black-icons a {
  color: #2a2f33;
  margin-right: 20px;
  font-size: 14px;
}

/* right-menu */

.right-menu {
  justify-content: flex-end;
  width: 40%;
  height: 100%;
}

.buttons {
  align-items: center;
  border-right: 1px solid #D5D3D5;
}

.buttons a {
  font-size: 12px;
  font-weight: 500;
  color: #6b6a6b;
  padding: 14px 12px;
}

.buttons:last-child {
  border-right: none;
}

.buttons:last-child a  {
  padding: 14px 70px;
}

.buttons a i,
.nav-button a i {
  padding: 0 5px;
}

.buttons a:hover {
  color: #2a2f33;
  background-color: #fafafa;
}

/* main header */

.main-header {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #D5D3D5;
}

.main-header-nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15%;
  height: 100%;
  align-items: center;
}

.logo img {
  width: 100%;
}

.right-nav {
  height: 100%;
  align-items: center;
}

.nav-button {
  margin: 0 15px;
}

.nav-button a {
  padding: 44px 3px;
  font-size: 14px;
  font-weight: 500;
  color: #6b6a6b;
}

.nav-button a:hover {
  border-top: 4px solid #427ed5;
  color: #427ed5;
}

.right-nav .shop-button {
  margin: 0 10px;
}

.search-button {
  padding: 0;
  margin: 0;
  color: #6b6a6b;
}


/* jumbotron */

.jumbotron {
  width: 100%;
  height: 650px;
  position: relative;
}

.jumbotron img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbo-info {
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}

.jumbo-info h1,
.jumbo-info h2 {
  color: #ffffff;
}

.jumbo-info h1 {
  font-size: 80px;
  margin: 5px 0 10px 0;
}

.jumbo-info h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 5px 0 10px 0;
}

.jumbo-buttons {
  height: 150px;
  margin-top: 50px;
}

.jumbo-buttons a:first-child {
  margin-right: 20px;
}

/* ----section title---- */

.title {
  justify-content: center;
  align-items: flex-start;
  margin: 110px 0 10px 0;
}

.collapsed {
  border: 1px solid #D5D3D5;
  height: 0;
  width: 300px;
  margin: 20px 20px;
}

.title-info {
  flex-direction: column;
  align-items: center;
}

.title-info h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #2a2f33;
}

.title-info p {
  color: #6b6a6b;
  font-weight: 500;
}

/* category buttons */
.category-buttons {
  justify-content: center;
  margin: 50px 0;
}

.category-buttons a {
  border: 1px solid #D5D3D5;
  padding: 15px 60px;
  font-size: 14px;
  font-weight: 700;
  color: #2a2f33;
}

.category-buttons a:nth-child(2) {
  border-left: none;
  border-right: none;
}

.category-buttons a:hover {
  background-color: #fafafa;
}


/* men cards */
.cards {
  width: 100%;
  height: 380px;
  margin-bottom: 200px;
  justify-content: space-between;
}

.card {
  width: 270px;
}

.img-container {
  width: 100%;
  height: 370px;
  position: relative;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* linear gradient con colori palette */
  background: linear-gradient(0deg, rgba(226,128,177,0.84404184036896) 4%, rgba(66,126,213,1) 100%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.img-container:hover .overlay {
  height: 100%;
}

.action {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #2f3034;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card h4 {
  font-size: 14px;
  font-weight: 700;
  color: #2a2f33;
  margin: 20px 0 10px 0;
}

.caption {
  font-size: 12px;
  font-weight: 500;
  color: #6b6a6b;
  margin-bottom: 15px;
}

.old-price,
.new-price {
  color: #427ed5;
  font-size: 16px;
  font-weight: 500;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 5px;
}

/* collections */

.winter-collection, .spring-collection, .autumn-collection {
  width: calc(100% / 3);
  height: 600px;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.winter-collection a,
.spring-collection a,
.autumn-collection a {
  margin-bottom: 60px;
}

.winter-collection {
  background-image: url('../images/winter_collection_bg.jpg');
}

.spring-collection {
  background-image: url('../images/spring_collection_bg.jpg');
}

.autumn-collection {
  background-image: url('../images/autumn_collection_bg.jpg');
}

.collections-section h2, .collections-section h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.collections-section h2 {
  font-size: 35px;
}

.collections-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
}

/* best seller carousel */
.best-seller-section {
  justify-content: center;
}

.best-seller-carousel {
  width: 100%;
  height: 260px;
  justify-content: space-between;
  margin: 40px 0 120px 0;
  position: relative;
}

.image-container {
  width: calc(100% / 5);
  height: 100%;
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* linear gradient con colori palette */
  background: linear-gradient(0deg, rgba(226,128,177,0.84404184036896) 4%, rgba(66,126,213,1) 100%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image-container:hover .overlay {
  height: 100%;
}

.best-seller-info {
  width: 100%;
  height: 100%;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.best-seller-info h3 {
 font-weight: 700;
 font-size: 16px;
 margin-bottom: 10px;
}

.best-seller-info p, .actions p{
  font-size: 12px;
}

.best-seller-info h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.actions {
  width: 100%;
  margin: 50px 0 20px 0;
  justify-content: space-around;
}

.left, .right {
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0a5a5;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 40%;
  color: #ffffff;
}

.left {
  left: 0;
  transform: translateY(-50%, -50%);
}

.right {
  right: 0;
}

/* offers section  */
.offers-section {
  width: 100%;
  height: 550px;
  background-image: url('../images/bkgd_confetti-compressor.jpg');
  background-position: center;
  justify-content: center;
  align-items: center;
}

.offers {
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.promo, .free-shipping {
  width: 560px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 100px 50px;
}

.promo {
  background-image: url('../images/promo_box_1_bg.jpg');
}

.free-shipping {
  background-image: url('../images/promo_box_2_bg.jpg');
}

.offers h2, .offers p {
  margin-bottom: 15px;
}

.offers h2 {
  font-size: 35px;
}

.offers p {
  font-weight: 400;
  font-size: 14px;
  line-height: 2em;
}

 /* new arrivals carousel */
.new-arrivals-carousel {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 70px 0 150px 0;
}

.new-arrivals-carousel img {
  width: calc(100% / 5);
}

/* testimonial section */
.testimonial-section {
  height: 550px;
  background-image: url('../images/testimonials_home_1_bg.jpg');
  flex-direction: column;
  align-items: center;
}

.testimonial-section .container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
}

.testimonial-section img {
  margin-bottom: 50px;
}

.testimonial-section p {
  color: #ffffff;
  margin-bottom: 50px;
  line-height: 2em;
  text-align: center;
}

.testimonial-section p span {
  font-weight: 700;
}

/* blog section */
.blog  {
  justify-content: center;
  border-bottom: 1px solid #D5D3D5;
}

.blog .cards {
  margin-bottom: 120px;
}

.blog-card {
  width: 360px;
  margin-top: 50px;
}

.blog-card img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-card h4 {
  margin-bottom: 10px;
}

.blog-card .post {
  font-size: 14px;
  line-height: 2em;
}

/* reviews section */
.reviews {
  justify-content: center;
  margin: 70px 0;
}

.reviews .sections {
  justify-content: space-between;
}

.reviews .sections h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 20px;
}

.reviews ul {
  width: 250px;
}

.reviews li {
  border-bottom: 1px solid #D5D3D5;
  justify-content: space-between;
  padding: 10px 0;
}

.review-details {
  width: 180px;
  color: #2a2f33;
  font-size: 14px;
}

.review-details .new-price,
.review-details .old-price {
  color: #2f3034;
  font-weight: 500;
}

.review-details p {
  margin-bottom: 10px;
}

.review-details .stars {
  color: #427ed5;
  font-size: 14px;
}

.image-review {
  width: 60px;
}

.image-review img {
  width: 100%;
}

/* brands section */
.brands-section {
  height: 300px;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
}

.brands-section h3 {
  text-transform: uppercase;
  color: #a0a5a5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
}

.brands {
  width: 100%;
  justify-content: space-around;
}

/* subscribe section */
.subscribe-section {
  height: 230px;
  background-color: #303337;
}

.subscribe-section, .mail-icon {
  justify-content: center;
  align-items: center;
}

.subscribe-section .container {
  justify-content: space-between;
}

.subscribe {
  color: #ffffff;
  align-items: center;
  justify-content: flex-start;
}

.mail-icon {
  color: #64686c;
  background-color: #2B2E32;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
}

.submit{
  align-items: center;
  justify-content: flex-end;
}

.submit input {
  margin-right: 20px;
  padding: 10px 20px;
  width: 280px;
  border-radius: 20px;
  border: none;
}

.submit .blue-button {
  padding: 12px 40px;
}

/* footer */
.main-footer {
  height: 450px;
  background-color: #2B2E32;
  justify-content: center;
}

.main-footer .sections {
  height: 100%;
  margin-top: 60px;
  align-items: baseline;
}

.contacts, .top-rated {
  width: calc(100% / 4);
}

.contacts {
  line-height: 2em;
  font-size: 14px;
  align-self: flex-start;
}

.contacts p:first-of-type {
  margin-bottom: 50px;
}

.main-footer, .main-footer a,
.main-footer p, .main-footer span, .main-footer h3,
.copyright a, .top-rated .review-details span{
  color: #EAEAEA;
}

.main-footer li {
  border-bottom: 1px solid #64686c;
}

.contacts a {
  font-size: 18px;
  margin-right: 10px;
}

.contacts img {
  width: 55%;
  margin-bottom: 30px;
}

.main-footer h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
}

.top-rated li {
  padding: 10px 0 5px 0;
}

.recent-posts {
  width: calc(100% / 4 + 30px);
  padding: 0 0 0 30px;
}

.recent-posts li:first-child {
  padding-top: 0;
}

.recent-posts li {
  padding: 15px 0;
}

.recent-posts a {
  font-size: 14px;
}

.tags {
  width: calc(100% / 4 - 60px);
  margin-left: 30px;
}

.tags a {
  font-size: 12px;
  padding: 5px;
  margin: 0 5px 5px 0;
  border: 1px solid #64686c;
}

.all-tags {
  flex-wrap: wrap;
}

.footer-bottom {
  background-color: #1D1F22;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright {
  margin-bottom: 20px;
}

.copyright a {
  font-size: 12px;
  padding: 0 10px;
}

.copyright a:not(:last-child) {
  border-right: 1px solid #EAEAEA;
}
